h2{
    text-align: center;
    color: #3f51b5;
    font-family: 'Baumans',display;
}

h3{
    text-align: center;
    margin: 0 0 4px;
}

h4{
    text-align: center;
}

span {
    font-size: small;
}

.contactDiv{
    margin-top: -31vh;
}