<div>
    <h1>Our Services</h1>
    <ul>
        <li>Women’s &amp; Men’s Health</li>
        <li>Infant &amp; Children’s Health</li>
        <li>Newborn Circumcision</li>
        <li>Skin Cancer</li>
        <li>Minor Procedures</li>
        <li>Mental health</li>
        <li>Travel Medicine</li>
        <li>Health screening</li>
        <li>Diabetes &amp; Chronic Disease Management</li>
        <li>Work injuries &amp; Work cover</li>
        <li>Pathology</li>
        <li>Specialist Services</li>
    </ul>
</div>