<div id="health">
    <h1>Health Tips</h1>
    <div>
        <h2>Diet</h2>
        <p>An important way to maintain your personal health is to have a healthy diet. A healthy diet includes a variety of plant-based and animal-based foods that provide nutrients to your body. Such nutrients give you energy and keep your body running. Nutrients help build and strengthen bones, muscles, and tendons and also regulate body processes (i.e. blood pressure)</p>
    </div>
    <div>
        <h2>Exercise</h2>
        <p>Physical exercise enhances or maintains physical fitness and overall health and wellness. It strengthens muscles and improves the cardiovascular system. According to the National Institutes of Health, there are four types of exercise: endurance, strength, flexibility, and balance</p>
    </div>
    
</div>
